<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<main id="form-main">
    <form id="form" method= "POST" action="/new" autocomplete="off">
        <div>
            <label for="username">User</label>
            <select id="user-name" name="username" required>
                <% for (let i = 0; i < username.length; i ++) {%>
                    <option value=<%=username[i].username%>><%=`${username[i].username}`%></option>
                    <!-- <% console.log(username[i].username) %> -->
                <%}%>
            </select>
        </div>

        <div>
            <label for="day">Day</label>
            <select id="day" name="day" required>
                <% for (let i = 0; i < days.length; i ++) {%>
                    <option value=<%=i+1%>><%=days[i]%></option>
                <%}%>
            </select>
        </div>
        
        <div>
            <label for="start_time">Start at</label>
            <select id="start-at" name="start_time" required>
                <% for (let i = 0; i < start.length; i ++) {%>
                    <option value=<%=start[i]%>><%=start[i]%></option>
                <%}%>
            </select>
        </div>
        
        <div>
            <label for="end_time">End at</label>
            <select id="end-at" name="end_time" required>
                <% for (let i = 0; i < start.length; i ++) {%>
                    <option value=<%=end[i]%>><%=end[i]%></option>
                <%}%>
            </select>
        </div>

        <div id="submit-button-container">
            <button id="submit-button" type="submit" form="form" value="Submit">Submit</button>
        </div>

    </form>
</main>
</body>
</html>